* {
    /* height: 15; */
    /* border: none; */
    /* border-radius: 0; */
    /* border-top: 20px solid #467b96; */
    min-height: 3px;
    /* font-family: Ubuntu Mono Bold, Roboto, Helvetica, Arial, sans-serif; */
}

window#waybar {
    background: rgba(0, 0, 0, 0);
    /* border-bottom: 3px solid rgba(100, 114, 125, 0.5); */
    /* color: white; */
    /* border-bottom: 5px solid rgba(0,0,0,0); */
    /* border-left: 5px solid rgba(0,0,0,0); */
    /* border-right: 5px solid rgba(0,0,0,0); */
    /* border-radius: 10px; */
    /* border-width: 10px; */
    /* border-color: #000000; */
}