/*To use:
Find your Vivaldi resources folder
s/t like: Vivaldi\Application\VersionNumber\resources\vivaldi
Edit browser.html and include this line:
<link rel="stylesheet" href="style/custom.css"/>
Move this file to the style folder, so you have both common.css and custom.css
Enjoy <3 */

/* fix toolbar bg being darker than address bg */
/*.addressfield, .searchfield {
	border: none;
	background: var(--colorAccentBg);
	background-color: var(--colorAccentBg);
	height: 24px;
}*/

/* center tab and address text */
/*.addressfield form input.url, .tab-position .tab .title {
	text-align: center;
}*/

/* remove rubbish bin */
/*button.button-tabbar.toggle-trash {
	display: none
}*/

/* remove home button */
.button-addressfield.home,.button-tabbar.home,.button-toolbar-small.home,.button-toolbar.home { 
	display:none !important
}

/* remove vivaldi button */
/*button.vivaldi {
    display: none !important;
}
.workspace-container, .tab-strip, #tabs-container .resize {
    margin-left: -2.0%;
}*/

/* Hide Vivaldi button */
button.vivaldi {
    display: none !important;
}

/* Adjust tab strip with workspaces enabled */
.tab-strip {
    padding-left: 0 !important; /* Remove left padding */
}

#tabs-container {
    padding-left: 0 !important; /* Remove left padding */
}

/* Specific adjustment for workspaces */
.workspace-container {
    margin-left: 0 !important; /* Adjust margin for workspace container */
}

/*
 * REMOVE NEEDLESS WHITESPACE FROM TAB BAR
 * */


#browser.normal #tabs-tabbar-container.top {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
.tabs-top.address-top#browser.win:not(.fullscreen, .disable-titlebar) #header {
    min-height: 0;
}
#browser.normal .vivaldi {
    margin: 0;
}
#browser.normal.tabs-top#browser.normal .window-buttongroup button {
    height: 20px;
}
#header {
    min-height: 0;
    padding-top: 0 !important;
}


/* fix favicons */
/*#tabs .tab .tab-header .favicon, .favicon {
    background-color: transparent !important;
    box-shadow: none !important;
}*/

/* remove reload */
/*button.button-toolbar.reload {
    display: none;
}*/

/* remove back and forward buttons */
/*.toolbar .button-toolbar {
    display: none;
}
.addressfield {
	margin-left: 0px;
	margin-right: 0px;
}*/

/* remove new tab button */
/*#tabs-container .newtab {
display: none;
}*/

/* Make TABBAR "flexible" */
#tabs-container {
    display: flex;
    justify-content: flex-start;
}

/* remove bookmarks button */
.addressfield button.button-addressfield.input-dropdown:last-child, .add-bookmark-container > button.button-addressfield {
	display: none;
}

/* autohide/remove site info */
#browser:not(.private) .addressfield .addressfield-siteinfo {
	opacity: 0;
	display: none;
}
#browser:not(.private) .addressfield .addressfield-siteinfo:hover {
	opacity: 1;
}

/* fix command and search dropdown hover bg */

.hasfocus .quick-command-container .quick-commands .quick-command[data-selected], .isblurred .quick-command-container .quick-commands .quick-command[data-selected], .urlSearch section .highlight {
	/*background-color: var(--colorAccentBg);*/
	background-color: var(--colorBgIntense);
	color: var(--colorFgFaded);
}2
.quick-command-container .quick-command-search, .quick-command-container .quick-command-search-hint {
	border: none;
}


/*
*   DISABLE PANEL COMPLETELY
* */

#panels-container {
    display: none !important;
}


/* Hide Status Bar */
.status-toolbar {
    display: none !important;
}

#header {
    display: none;
}
